#App {
  border: 1px solid black;
  max-width: 768px;
  margin: auto;
}

#App header {
  text-align: center;
  margin-bottom: 3rem;
}

.ButtonContainer {
  text-align: center;
}

.Button {
  padding: 1rem 2rem 1rem 2rem;
  margin-bottom: 2rem;
  display: inline-block;
  border: 1px solid black;
  text-decoration: none;
  color: black;
}

.Button:hover {
  background-color: blue;
}

.Button:active {
  background-color: red;
}
