#App {
  border: 1px solid black;
  max-width: 768px;
  margin: auto;
  background-color: white;
}

#App header {
  text-align: center;
  margin-bottom: 3rem;
  font-family: 'Dancing Script', cursive;
  font-size: 28px;
}

header a {
  text-decoration: none;
  color: black;
}

.ButtonContainer {
  text-align: center;
}

.Button {
  padding: 1rem 2rem 1rem 2rem;
  margin-bottom: 2rem;
  display: inline-block;
  border: 1px solid black;
  text-decoration: none;
  color: black;
}

#App p {
  margin-bottom: 5rem;
  padding: 0 3rem 0 3rem;
}

.Button:hover {
  background-color: black;
  color: white;
}

.Button:active {
  background-color: red;
}

img {
  box-shadow: 4px;
}
